body{
    /* background-color: blueviolet; */
    text-align: center;
    background-image: linear-gradient(to right, #52c234, #061700);
    color: azure;
    
}
#username{
    width: 50%;
    padding: 8px 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-size: 24px;
    outline: none;
}
#password{
    width: 50%;
    padding: 8px 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
    font-size: 24px;
    outline: none;
}
p{
    color: lightcoral;
    font-size: 24px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: none;
}   
#displaymessage{
    font-size: 24px;
    display:block;
    color: aqua;
}
h1{
    font-size: 35px;
}
